<div class="widget-river" id="widget-river">
  <h1 class="widget-title"><span><i class="un-icon-activity_reporting widget-title--icon"></i>{{{adjustedTitle}}}</span></h1>
  <div class="widget-river--results clearfix">

    <div class="accordion-set widget-river--filters results--item--reports">
      <h5 class="widget-river--filters--title">Filter Results:  <span class="tab">Reports</span> <span class="close"></span></h5>

      {{#each filters}}
        <input type="radio" name="river" id="{{this.id}}" class="accordion-set--check" />
        <label for="{{this.id}}" class="accordion-set--label">{{this.title}}</label>
        <div id="{{this.id}}-accordion" class="accordion-set--content">
          <div class="widget-river--filters-content">
            <h2 class="filters-content--title">{{this.title}}</h2>
            <ul class="filters-content--items">
            </ul>
            <a class="filters-content--more btn" href="{{location}}" target="_blank">View full list on ReliefWeb</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
