<div class="overview-widget">
  <h1 class="overview-widget--title"><span><i class="un-icon-crisis_conflict"></i>{{{adjustedTitle}}}</span></h1>
  <div class="overview-widget--map">
    <img src="{{map.src}}" alt="{{map.alt}}" />
  </div>
  <div class="overview-widget--description">
    <div class="accordion-set">
      {{#each content}}
      <input type="checkbox" id="{{@key}}" class="accordion-set--check" checked="checked"/>
      <label for="{{@key}}" class="accordion-set--label"><h2>{{this.title}}</h2></label>
      <div class="accordion-set--content" data-eq-pts="cols2: 500">
        {{{this.content}}}
      </div>
      {{/each}}
    </div>
  </div>
  <div class="overview-widget--tabs tab-set">
    <input type="radio" name="tab" id="tab-1" class="tab-set--tab" checked="checked"/>
    <label for="tab-1">Iraq</label>
    <input type="radio" name="tab" id="tab-2" class="tab-set--tab" />
    <label for="tab-2">Syria</label>
    <div class="tab-set--content">
      <div id="tab-body-1" class="tab-set--body">
        <h2>Iraq</h2>
        <i class="un-icon-crisis_population_displacement"></i>
        <div class="refugees">
          <h3><span class="figure">3</span> Million</h3>
          <p>Refugees</p>
        </div>
        <div class="idp">
          <h3><span class="figure">6.25</span> Million</h3>
          <p>Internally Displaced</p>
        </div>
      </div>
      <div id="tab-body-2" class="tab-set--body">
        <h2>Syria</h2>
        <i class="un-icon-crisis_population_displacement"></i>
        <div class="refugees">
          <h3><span class="figure">4</span> Million</h3>
          <p>Refugees</p>
        </div>
        <div class="idp">
          <h3><span class="figure">7.5</span> Million</h3>
          <p>Internally Displaced</p>
        </div>
      </div>
    </div>
  </div>
  <footer class="overview-widget--sources">Data Source <cite><a href="">UNHCR</a></cite></footer>
</div>