<div class="timeline-widget">
  <h1 class="widget-title"><span><i class="un-icon-product_type_timeline widget-title--icon-custom widget-title--icon"></i>{{{adjustedTitle}}}</span></h1>
  <div class="timeline-widget--controls">
    <button class="prev"><div class="arrow"></div></button>
    <button class="next"><div class="arrow"></div></button>
  </div>

  <div class="timeline-widget--dropdown">
    <div class="timeline-widget--dropdown-heading">
      <span class="button-arrow"></span> Timeline - Calendar</div>
    <div class="clear"></div>
    <div class="timeline-widget--dropdown--wrapper">
      <div class="timeline-widget--dropdown-controls">
        <div class="form-select">
          <select name="year">
          </select>
        </div>
        <div class="form-select">
          <select name="month">
          </select>
        </div>
        <button class="form-today">Today</button>
        <span class="close"></span>
      </div>
      <div class="timeline-widget--dropdown--container">
        <ul class="slidee">
            {{#timeline-items}}
              <li class="timeline-widget-dropdown--list-item" data-slide="{{ @index }}">
                <div class="timeline-widget-dropdown--item">
                  <div class="timeline-widget-dropdown--item-date">{{ date-day }} {{ date-month }} {{ date-year }}</div>
                  <div class="timeline-widget-dropdown--item-desc">{{ short-desc }}</div>
                </div>
              </li>
            {{/timeline-items}}
          <li class="timeline-widget--dropdown--end-of-line">No More Entries</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="timeline-widget--frames">
    <ul class="slidee">
        {{#each timeline-items}}
          <li class="timeline-widget-item">
            <div class="timeline-widget-item--header">
              <div class="timeline-widget-item--headline">
                <div class="timeline-widget-item--category">Ocha <div class="arrow"></div></div> <div class="timeline-widget-item--date">{{ this.date-full }}</div>
              </div>
              <h1 class="timeline-widget-item--title">{{ this.title }}</h1>
            </div>
            <div class="timeline-widget-item--content">
                  <div class="timeline-widget-item--image">
                    <div class="timeline-widget-item--image--icons">
                      <a class="timeline-widget-item--image--view-more"><img src="../../images/eye-img--yellow.png"></a>
                      <a class="timeline-widget-item--image--country">{{ this.country }}</a>
                    </div>
                    <img src="{{ this.img-src }}" />
                  </div>
              <div class="timeline-widget-item--description">
                  {{{ this.long-desc }}}
                <div class="timeline-widget-item-link">
                  <a class="btn" href="{{ this.url }}"><span class="un-icon-product_type_report"></span> Read full report</a>
                </div>
              </div>
            </div>
          </li>
        {{/each}}
    </ul>
  </div>
  <div class="clear-both"></div>
</div>