<li class="timeline-widget-dropdown--list-item" data-slide="{{ index }}" data-rw-id="{{ id }}">
  <div class="timeline-widget-dropdown--item">
    <div class="timeline-widget-dropdown--item-date">{{ date-day }} {{ date-month }} {{ date-year }}</div>
    <div class="timeline-widget-dropdown--item-desc">{{ short-desc }}</div>
  </div>
</li>